<div class="top-title">Start with solutions —&nbsp;&nbsp;</div>
<div class="middle-title">Build your great portfolio <span>website</span></div>
{% schema %}
{
  "name": "title text",
  "settings": [
    {
      "type": "color",
      "id": "color_secondary",
      "label": "Secondary colour",
      "default": "#DFFB6D"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  div.top-title {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: clamp(16px, calc(1vw + 5px), 25px);
  }

  div.middle-title {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    place-items: center;
    text-align: center;
    font-weight: 600;
    font-size: clamp(50px, calc(4vw + 30px), 128px);
    line-height: clamp(70px, calc(7vw + 30px), 128px);
  }
{% endstylesheet %}

<style>
  div.middle-title span {
  color: {{ section.settings.color_secondary }};
  }
</style>

{% javascript %}
{% endjavascript %}
