<div class="top-title">Start with solutions &#8211;</div>
{% schema %}
  {
    "name": "title text",
    "settings": []
  }
{% endschema %}

{% stylesheet %}


{% endstylesheet %}

<style>
  div.top-title {

    width: 100%;
    display: grid;
    place-items: center;
  }
</style>

{% javascript %}
{% endjavascript %}